.Auth {
   margin: 20px auto;
   width: 80%;
   text-align: center;
   box-shadow: 0 2px 3px #ccc;
   padding: 10px;
   border: 1px solid rgb(236, 236, 236);
}

.Input {
   display: block;
   width: 100%;
   margin:5px
}

@media (min-width: 600px) {
   .ContactData {
      width: 500px;
   }
}
